.bbbiz .module_chart_legend p, .bbbiz .module_chart_legend ul {
  font: 13px/17px sans-serif;
  list-style: none outside none;
  padding: 0 50px 1px 30px;
}
  .module_chart_legend {
    border: 1px solid #e6e6e6;
  }
  .module_chart_legend h3 {
    line-height: 60px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    margin-bottom: 26px;
  }
  .module_chart_legend ul {
    list-style: none outside none;
    margin-top: 24px;
    padding: 0 0 10px 30px;
  }
  .module_chart_legend li {
    padding-left: 35px;
    position: relative;
    font: 13px/17px sans-serif;
  }
    .module_chart_legend li + li {
      margin-top: 10px;
    }
  .bbbiz .module_chart_legend ul ~ ul {
    padding-right: 30px;
  }
  .module_chart_legend .icon,
  .module_chart_legend li > div {
    position: absolute;
    bottom: 2px;
    left: 0;
  }
  .module_chart_legend li.mB {
    margin-bottom: 26px;
  }
  .module_chart_legend .icon.peak, .module_chart_legend .icon.shift { left: 2px; }
  .module_chart_legend .icon.airplay-gainer { bottom: 4px; }
  .module_chart_legend .icon.digital-gainer { left: 4px; }
  .module_chart_legend .icon.streaming-gainer { bottom: 4px; }
  .module_chart_legend .icon.pacesetter { left: 6px; }
  .module_chart_legend .icon.heatseeker { left: 6px; }
  .module_chart_legend .icon.hot-shot-small { bottom: -3px; }
  .module_chart_legend .icon.greatest_weekly { bottom: -4px; }
  .module_chart_legend .icon.peak { left: 4px; }
  .module_chart_legend .icon.shift { left: 4px; }
  .module_chart_legend .icon.duration { left: 4px; bottom: 1px; }
  .module_chart_legend .icon.hot-shot-small, 
  .module_chart_legend .icon.new-small, 
  .module_chart_legend .icon.re-small, 
  .module_chart_legend .position-down-small, 
  .module_chart_legend .position-static-small
  { 
    bottom: -3px; 
  }
  .module_chart_legend .greatest-airplay-small,
  .module_chart_legend .position-up-small
  { 
    bottom: 6px; 
  }

  .module_chart_legend ul.gainers li > div {
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 36px;
  }
  .module_chart_legend ul.gainers {
    margin: 0 0 24px;
    padding: 0 50px 1px 30px;
  }
  .module_chart_legend ul.gainers li, .module_chart_legend ul ~ ul.gainers li {
    background: url("/web/20190719164437im_/https://www.billboard.com/sites/all/themes/bb/images/sprite_biz-2013-01-25.png") no-repeat scroll 0 -1712px transparent;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding-left: 49px;
  }
  .module_chart_legend ul.gainers li:last-child {
    padding-bottom: 8px;
  }
  .module_chart_legend ul.gainers li:last-child div {
    bottom: 8px;
  }
  .module_chart_legend p {
    color: #B2B2B2;
  }
  .module_chart_legend p {
    margin-bottom: 22px;
  }
.module_chart_legend ul ~ ul li {
    margin: 0 0 15px;
    padding-left: 49px;
    padding-right: 30px;
}
.module_chart_legend div.greatest-weeky-gains, .module_chart_legend div.change-weeky-gains, .module_chart_legend div.change-two-week-gains {
    background: none repeat scroll 0 0 #B2B2B2;
    bottom: 0;
    display: block;
    height: 21px;
    padding: 7px;
    width: 21px;
}
.module_chart_legend div.greatest-weeky-gains span, .module_chart_legend div.change-weeky-gains span, .module_chart_legend div.change-two-week-gains span {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 21px 21px 21px 21px;
    display: block;
    height: 21px;
    width: 21px;
}
.module_chart_legend div.greatest-weeky-gains {
    background: none repeat scroll 0 0 #1A1A1A;
}
.module_chart_legend div.change-two-week-gains {
    background: none repeat scroll 0 0 #D9D9D9;
}
.icon.greatest_weekly, .ia.greatest_weekly:after, .ib.greatest_weekly:before {
    background-position: 0 -1300px;
    height: 20px;
    width: 20px;
}
.icon.tw_blue, .ia.tw_blue:after, .ib.tw_blue:before {
    background-position: -600px -150px;
    height: 18px;
    width: 18px;
}
.icon.tw_gray, .ia.tw_gray:after, .ib.tw_gray:before {
    background-position: -300px -150px;
    height: 14px;
    width: 18px;
}
.ib.li_connect:before, .ia.li_connect:after, .icon.li_connect {
    background-position: 0 -600px;
    height: 23px;
    vertical-align: top;
    width: 23px;
}
.icon.in_1st, .ia.in_1st:after, .ib.in_1st:before {
    background-position: 0 -2650px;
    height: 14px;
    width: 30px;
}
.icon.in_2nd, .ia.in_2nd:after, .ib.in_2nd:before {
    background-position: 0 -2700px;
    height: 14px;
    width: 30px;
}
.icon.in_3rd, .ia.in_3rd:after, .ib.in_3rd:before {
    background-position: 0 -2750px;
    height: 14px;
    width: 30px;
}
.certification {
    background: url("/web/20190719164437im_/https://www.billboard.com/sites/all/themes/bb/images/sprite_biz-2013-01-25.png") no-repeat scroll 0 -1351px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    width: 20px;
}
.certification.platinum {
    background-position: 0 -1401px;
    line-height: 24px;
    width: 23px;
}
.certification.diamond {
    background-position: 0 -1450px;
    height: 21px;
    width: 21px;
}
/*
     FILE ARCHIVED ON 16:44:37 Jul 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:44:49 Aug 08, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 40.617 (3)
  esindex: 0.015
  captures_list: 57.271
  CDXLines.iter: 11.84 (3)
  PetaboxLoader3.datanode: 38.959 (4)
  exclusion.robots: 0.414
  exclusion.robots.policy: 0.395
  RedisCDXSource: 1.003
  PetaboxLoader3.resolve: 34.332
  load_resource: 41.255
*/