.ctools-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.ctools-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(/web/20190719164431im_/https://www.billboard.com/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(/web/20190719164431im_/https://www.billboard.com/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

/*
     FILE ARCHIVED ON 16:44:31 Jul 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:42:12 Aug 08, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 108.685 (3)
  esindex: 0.01
  captures_list: 126.749
  CDXLines.iter: 13.071 (3)
  PetaboxLoader3.datanode: 332.931 (4)
  exclusion.robots: 0.316
  exclusion.robots.policy: 0.301
  RedisCDXSource: 0.879
  PetaboxLoader3.resolve: 1906.491
  load_resource: 2180.984
*/