
/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}

/* Form display */
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table th.field-label {
  padding-left: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; /*LTR*/
}

form .field-add-more-submit {
  margin: .5em 0 0;
}

/*
     FILE ARCHIVED ON 16:44:24 Jul 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:41:58 Aug 08, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 63.037 (3)
  esindex: 0.009
  captures_list: 81.71
  CDXLines.iter: 14.433 (3)
  PetaboxLoader3.datanode: 48.261 (4)
  exclusion.robots: 0.3
  exclusion.robots.policy: 0.275
  RedisCDXSource: 0.71
  PetaboxLoader3.resolve: 1025.804
  load_resource: 1042.289
*/