/**
 * LinkedIn module, as seen in the right column on the article pages
 */

article.linked_in {
    position: relative;
}

article.linked_in .thumbnail {
    left: 0;
    position: absolute;
    top: 0;
}

article.linked_in.small_thumb {
    padding: 0 0 18px 74px;
}

article.linked_in.small_thumb img {
    height: 55px;
    width: 55px;
}

article.linked_in.small_thumb div.distance {
    padding-top: 8px;
}

article.linked_in.small_thumb div.distance span.in {
    background: url('/web/20190719164428im_/https://www.billboard.com/sites/all/themes/bb/images/sprite_biz-2013-01-25.png') no-repeat -150px -548px !important;
    background-image: url('/web/20190719164428im_/https://www.billboard.com/sites/all/themes/bb/images/sprite_biz-2013-01-25.png') !important;    
    float: left;
    height: 15px;
    width: 20px;
    margin-left: 5px;
}

article.linked_in.small_thumb  div.distance .related-distance {
    background: url('/web/20190719164428im_/https://www.billboard.com/sites/all/themes/bb/images/linkedin-distance.png') no-repeat 0 4px !important;
    background-image: url('/web/20190719164428im_/https://www.billboard.com/sites/all/themes/bb/images/linkedin-distance.png') !important;
    color: #3399cc;
    float: left;
    font-size: 11px;
    line-height: 23px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin-top: -1px;
}
/*
     FILE ARCHIVED ON 16:44:28 Jul 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:44:56 Aug 08, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 86.958 (3)
  esindex: 0.006
  captures_list: 104.224
  CDXLines.iter: 12.491 (3)
  PetaboxLoader3.datanode: 57.239 (4)
  exclusion.robots: 0.342
  exclusion.robots.policy: 0.327
  RedisCDXSource: 1.384
  PetaboxLoader3.resolve: 45.176
  load_resource: 59.632
*/