
/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(/web/20190719164426im_/https://www.billboard.com/misc/message-24-ok.png);
  border-color: #be7;
}
div.status,
.ok {
  color: #234600;
}
div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(/web/20190719164426im_/https://www.billboard.com/misc/message-24-warning.png);
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(/web/20190719164426im_/https://www.billboard.com/misc/message-24-error.png);
  border-color: #ed541d;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}

/*
     FILE ARCHIVED ON 16:44:26 Jul 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:41:46 Aug 08, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 67.171 (3)
  esindex: 0.01
  captures_list: 85.404
  CDXLines.iter: 13.575 (3)
  PetaboxLoader3.datanode: 72.26 (4)
  exclusion.robots: 0.391
  exclusion.robots.policy: 0.372
  RedisCDXSource: 0.771
  PetaboxLoader3.resolve: 2838.685
  load_resource: 2847.573
*/